<div class="media">
  <div class="media-body">
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio,
    vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
    congue felis in faucibus.

    <div class="media mt-3">
      <a class="mr-3" href="#">
        <img src="{{data.imageUrl}}" class="mr-3" alt="img">
      </a>
      <div class="media-body">
        <h5 class="mt-0">{{data.productName}}</h5>
        {{data.releasedDate}}&nbsp;
        <app-raiting [rating-value]="data.rating">
        </app-raiting>&nbsp;
        <span>{{data.numOfReviews}}</span>
        <div [ngSwitch]="data.rating">
          <div *ngSwitchCase="1">Poor</div>
          <div *ngSwitchCase="2">Fair</div>
          <div *ngSwitchCase="3">Good</div>
          <div *ngSwitchCase="4">Very Good</div>
          <div *ngSwitchCase="5">Excelent</div>
          <div *ngSwitchDefault>No Rated</div>
        </div>
        <div>
          {{data.description}}
        </div>

      </div>
    </div>
  </div>
</div>
